@media (min-width: 992px) {
	.section-heading {
		font-size: 3.6rem;
	}

	.navbar {
		&__nav {
			margin: 0 2em;

			
			.btn {
				display: block;
			}
		}
		&__logo {
				font-size: 3rem;
		}
	}

	.header {
		&__text {
			margin-left: 2em;
			width: 45%;

			.btn {
				font-size: 2.4rem;
			}
		}
	}

	.about-us {
		&__box {
			flex-direction: row;

			&-img {
				flex-basis: 50%;
			}

			&-text {
				flex-basis: 50%;
				text-align: center;
				margin-left: 3em;

				&-title {
					font-size: 2.9rem;
				}

				&-description {
					font-size: 1.9rem;
					margin-bottom: 2em;
				}
			}
		}
	}

	.specialists {
		&__box {
			&-title {
				font-size: 2.6rem;
			}

			&-text {
				font-size: 1.8rem;
			}
		}
	}

	.reviews {
		&__box {
			margin: 0 1.5em;

			&-text {
				font-size: 1.7rem;
			}
			&-stars {
				i {
					font-size: 1.7rem;
				}
			}
			&-client {
				font-size: 1.6rem;
			}

			&-caption {
				font-size: 1.3rem;
			}
		}
	}

	.contact {
		&__box {
			&-heading {
				&-street {
					font-size: 2.6rem;
				}

				&-text {
					font-size: 2.1rem;
				}
			}

			&-info {
				margin-bottom: 1em;
				font-size: 2.1rem;

				i {
					font-size: 2.3rem;
				}
			}
		}
	}
}
