@media (min-width: 992px) {
	.section-heading {
		font-size: 3.6rem;
	}

	.navbar {
		&__nav {
			margin: 0 3.5em;

			.btn {
				display: block;
			}
		}
	}

	.header {
		&__text {
			margin-left: 2em;
			width: 45%;

			.btn {
				font-size: 2.4rem;
			}
		}
	}

	.about-us {
		&__box {
			flex-direction: row;

			&-img {
				flex-basis: 50%;
			}

			&-text {
				flex-basis: 50%;
				text-align: center;
				margin-left: 3em;

				&-title {
					font-size: 3rem;
				}

				&-description {
					font-size: 2rem;
				}
			}
		}
	}

	.specialists {
		&__box {
			&-title {
				font-size: 2.4rem;
			}

			&-text {
				font-size: 1.8rem;
			}
		}
	}

.reviews {
	&__box {

		margin: 0 1.5em;

		&-text {
			font-size: 1.7rem;
		}
		&-stars {
			i {
                font-size: 1.7rem;
			}
		}
		&-client {
            font-size: 1.6rem;
        }

        &-caption {
            font-size: 1.3rem;
        }
		
	}
}
}