@use './abstracts/mixins' as *;

@media (min-width: 768px) {
	.section-heading {
		font-size: 3.4rem;
	}

	.navbar {
		&__nav {
			display: flex;
			align-items: center;
			justify-content: space-between;
			flex-direction: row;
			margin: 0 2em;
		}

		&__list {
			@include flexRow;
			position: static;
			width: auto;
			clip-path: none;

			&-item {
				margin: 0;
				a {
					padding: 0.8em;

					&::before {
						bottom: 0.35em;
						width: 70%;
					}
				}
			}
		}

		&__burger-icon {
			display: none;
		}
	}

	.header {
		h1 {
			font-size: 4.2rem;
		}

		p {
			font-size: 2rem;
		}
	}

	.about-us {
		&__box {
			&-text {
				&-title {
					font-size: 2.8rem;
				}

				&-description {
					font-size: 1.8rem;
				}
			}
		}
	}

	.services {
		.container {
			@include flexRow;
			flex-wrap: wrap;
		}
		&__box {
			margin: 1em;

		}
	}

	.specialists {
		.container {
			flex-direction: row;
			flex-wrap: wrap;
		}
		&__box {
			margin: 2em;
		}
	}

	.reviews {
		.container {
			flex-direction: row;
			flex-wrap: wrap;
		}
		&__box {
			margin: 1em;
		}
	}

	.contact {
		.container {
			flex-direction: row;
		}
		&__box {
			margin: 3em;

			&-heading {
				&-text {
					font-size: 1.8rem;
					line-height: 1.8em;
				}
			}
		}
	}
}
