.contact {
	&__box {
		img {
			width: 100%;
			border-radius: 0.4em;
		}

        .btn {
            margin: 2em 0 3em 0;
        }

		&-info {
			&-street {
				margin: 2em 0 1em 0;
				font-size: 2.3rem;
			}

			&-text {
				font-size: 1.8rem;
                font-weight: 300;
                margin-bottom: 2em;
			}
		}

		&-address {
			display: flex;
            margin-top: 1em;
            font-size: 1.8rem;
            font-weight: 300;
            i {
                font-size: 2rem;
                margin-right: 1em;
                color: $main-color;
            }

		}
		&-phone {
			display: flex;
            margin-top: 1em;
            font-size: 1.8rem;
            font-weight: 300;
            i {
                font-size: 2rem;
                margin-right: 1em;
                color: $main-color;
            }
		}
		&-mail {
			display: flex;
            margin-top: 1em;
            font-size: 1.8rem;
            font-weight: 300;
            i {
                font-size: 2rem;
                margin-right: 1em;
                color: $main-color;
            }
		}
	}
}
