@use './abstracts/colors' as *;

.footer {
    font-size: 1.6rem;
    padding: 1.2em;
    background-color: $white-color;
    border-top: .1em solid $dark-color;
    text-align: center;

    &__author {
        color: $main-color;
        font-weight: 700;
    }
}