@use './colors' as *;

.navbar {
	position: fixed;
	top: 0;
	width: 100%;
	background-color: $white-color;
	border-bottom: .1em solid $light-dark;
	z-index: 100;

	&__nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
		height: 8em;
		padding: .5em;
		margin:0 0.5em;
	}

	&__logo {
		font-size: 2.5rem;

		a {
			color: $light-dark;
			text-decoration: none;
		}
		span {
			color: $main-color;
		}
	}

	&__list {
		display: flex;
		flex-direction: column;
		align-items: center;
		position: absolute;
		top: 8em;
		right: 0;
		width: 100%;
		background-color: $white-color;
		opacity: 0.9;
		clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
		transition: clip-path 0.2s linear;

		&--active {
			clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
		}

		&-item {
			display: block;
			font-size: 1.9rem;
			padding: 1em 0;

			a {
				position: relative;
				color: $light-dark;
				text-decoration: none;
				transition: color 0.2s;

				&::before {
					content: '';
					position: absolute;
					bottom: -0.5em;
					height: .1em;
					width: 100%;
					transform: scaleX(0);
					transition: transform 0.3s;
					background-color: $main-color;
				}

				&:hover::before {
					transform: scaleX(1);
				}

				&:hover {
					color: $main-color;
				}
			}
		}
	}

	.btn {
		display: none;
	}

	&__burger-icon {
		padding: 0.5em;
		font-size: 3rem;
		color: $light-dark;
		background: none;
		border: none;
		cursor: pointer;
	}
}
